<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Store Number:</strong>
  <%= @store.store_number %>
</p>

<p>
  <strong>Territory:</strong>
  <%= Territory.find(@store.territory_id).name %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @store.manager %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @store.phone_number %>
</p>

<p>
  <strong>Leads per hour:</strong>
  <%= @store.calculate_leads_per_hour %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
