<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as: <%= @username %></div>
  <ul>
    <li><%= link_to("Manage In Store Promoters", in_store_promoters_path) %></li>
    <li><%= link_to("Manage ISP Shifts", isp_shifts_path) %></li>
    <li><%= link_to("Manage Stores", stores_path) %></li>
    <li><%= link_to("Manage Territories", territories_path) %></li>
    <li><%= link_to("Manage Marketing Managers", marketing_managers_path) %></li>
    <li><%= link_to("Manage Admin Users", admin_users_path) %></li>
    <li><%= link_to("Logout", access_logout_path) %></li>
  </ul>
</div>
