<div class="isp_shifts index">
  <h2>ISP Shifts</h2>

  <%= link_to("Add New Shift", new_isp_shift_path, :class => 'action new') %>

  <br/>
  <p>Total Records: <%= @isp_shifts.size%></p>
  <br/>

  <table class="listing" summary="ISP Shift list">
    <tr class="header">
      <th>ISP Name</th>
      <th>Date</th>
      <th>Store</th>
      <th>Hours Per Lead</th>
      <th>Leads Obtained</th>
      <th>Presentations Given</th>
      <th>Prospects Approached</th>
      <th>Time in</th>
      <th>Time Out</th>

    </tr>
    <% @isp_shifts.each do |isp_shift| %>
    <tr>
      <td><%= InStorePromoter.find(isp_shift.in_store_promoter_id).firstname + " " + InStorePromoter.find(isp_shift.in_store_promoter_id).lastname%></td>
      <td><%= isp_shift.date %></td>
      <td><%= Store.find(isp_shift.store_id).name %></td>
      <td><%= isp_shift.hours_per_lead %></td>
      <td><%= isp_shift.leads %></td>
      <td><%= isp_shift.presentations_given %></td>
      <td><%= isp_shift.prospects_approached %></td>
      <td><%= isp_shift.time_in %></td>
      <td><%= isp_shift.time_out %></td>




      <td class="actions">
        <%= link_to("Show", isp_shift_path(isp_shift), :class => 'action show') %>
        <%= link_to("Edit", edit_isp_shift_path(isp_shift), :class => 'action edit') %>
        <%= link_to("Delete", delete_isp_shift_path(isp_shift), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
