<%= link_to("<< Back to List", isp_shifts_path, :class => 'back-link') %>

<div class="isp_shifts show">
  <h2><%= InStorePromoter.find(@isp_shift.in_store_promoter_id).firstname + " " + InStorePromoter.find(@isp_shift.in_store_promoter_id).lastname %> on <%= @isp_shift.date %></h2>

  <table summary="isp_shift detail view">
    <tr>
      <th>Hours in store: </th>
      <td><%= @isp_shift_hours_in_store %></td>
    </tr>
    <tr>
      <th>Hours per lead</th>
      <td><%= @isp_shift.hours_per_lead %></td>
    </tr>
    <tr>
      <th>Store Number</th>
      <td><%= @isp_shift_store %></td>
    </tr>
    <tr>
      <th>prospects approached</th>
      <td><%= @isp_shift.prospects_approached %></td>
    </tr>
    <tr>
      <th>presentations given</th>
      <td><%= @isp_shift.presentations_given %></td>
    </tr>
    <tr>
      <th>Leads obtained</th>
      <td><%= @isp_shift.leads %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @isp_shift.created_at %></td>
    </tr>
    <tr>
      <th>Update</th>
      <td><%= @isp_shift.updated_at %></td>
    </tr>
  </table>

</div>
