<% @page_title = "Edit ISP"%>

<%= link_to("<< Back to List", in_store_promoters_path, :class => 'back-link') %>

<div class="in_store_promoters edit">
  <h2>Edit In Store Promoter</h2>

  <%= form_for(@in_store_promoter) do |f| %>
    <table>
      <tr>
        <td>First Name:</td>
        <td><%= f.text_field(:firstname) %></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><%= f.text_field(:lastname) %></td>
      </tr>
      <tr>
        <td>Territory:</td>
        <td><%= f.select(:territory_id, Territory.all.map{|i| [i.name, i.id]}) %></td>
      </tr>
      <tr>
        <td>Marketing Manager:</td>
        <td><%= f.select(:marketing_manager_id, MarketingManager.all.map{|i| [i.first_name, i.id]}) %></td>
      </tr>
      <tr>
        <td>Presently Active:</td>
        <td>
            <%= f.select(:active, ["yes", "no"]) %>

        </td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= f.submit("Update ISP") %>
    </div>

  <% end %>
</div>
