<% @page_title = "All In Store Promoters"%>

<div class="in_store_promoters index">
  <h2>In Store Promoters</h2>

  <%= link_to("Add New In Store Promoter", new_in_store_promoter_path, :class => 'action new') %>

  <table class="listing" summary="In Store Promoter list">
    <tr class="header">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Territory</th>
      <th>Marketing Manager</th>
      <th>Hours per lead</th>
      <th>Active</th>
    </tr>
    <% @in_store_promoters.each do |in_store_promoter| %>
    <tr>
      <td><%= in_store_promoter.firstname %></td>
      <td><%= in_store_promoter.lastname %></td>
      <td class="center"><%= Territory.find(in_store_promoter.territory_id).name %></td>
      <td class="center"><%= MarketingManager.find(in_store_promoter.marketing_manager_id).first_name + " " + MarketingManager.find(in_store_promoter.marketing_manager_id).last_name  %></td>
      <td class="center"><%= (in_store_promoter.hours_per_lead) %></td>
      <td class="center"><%= in_store_promoter.active %></td>
      <td class="actions">
        <%= link_to("Show", in_store_promoter_path(in_store_promoter), :class => 'action show') %>
        <%= link_to("Edit", edit_in_store_promoter_path(in_store_promoter), :class => 'action edit') %>
        <%= link_to("Delete", delete_in_store_promoter_path(in_store_promoter), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
