<% @page_title = "ISP"%>

<%= link_to("<< Back to List", in_store_promoters_path, :class => 'back-link') %>

<div class="in_store_promoters show">
  <h2><%= @in_store_promoter.firstname + " "+  @in_store_promoter.lastname %></h2>

  <table summary="ISP detail view">
    <tr>
      <th>Territory: </th>
      <td><%= Territory.find(@in_store_promoter.territory_id).name %></td>
    </tr>
    <tr>
      <th>Hours per lead: </th>
      <td><%= @in_store_promoter.hours_per_lead %></td>
    </tr>
    <tr>
      <th>Total Number of shifts: </th>
      <td><%= @in_store_promoter.isp_shifts.size %></td>
    </tr>
    <tr>
      <th>Created: </th>
      <td><%= @in_store_promoter.created_at %></td>
    </tr>
    <tr>
      <th>Updated: </th>
      <td><%= @in_store_promoter.updated_at %></td>
    </tr>
  </table>

</div>
