<%= form_for(marketing_manager) do |f| %>
  <% if marketing_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marketing_manager.errors.count, "error") %> prohibited this marketing_manager from being saved:</h2>

      <ul>
      <% marketing_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table summary="Admin user form fields">
    <tr>
      <th><%= f.label(:first_name) %></th>
      <td><%= f.text_field(:first_name) %></td>
    </tr>
    <tr>
      <th><%= f.label(:last_name) %></th>
      <td><%= f.text_field(:last_name) %></td>
    </tr>
    <tr>
      <th><%= f.label(:email) %></th>
      <td><%= f.text_field(:email) %></td>
    </tr>
    <tr>
      <th><%= f.label(:username) %></th>
      <td><%= f.text_field(:username) %></td>
    </tr>
    <tr>
      <th><%= f.label(:password) %></th>
      <td><%= f.password_field(:password) %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
