<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @marketing_manager.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @marketing_manager.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @marketing_manager.username %>
</p>

<p>
  <strong>Leads per hour:</strong>
  <%= @marketing_manager.leads_per_hour %>
</p>

<%= link_to 'Edit', edit_marketing_manager_path(@marketing_manager) %> |
<%= link_to 'Back', marketing_managers_path %>
